<div class="">
  <div class="main-wrapper">
    <section class="navbar NavbarWrapper HeaderBorderBottom">
      <div class="container">
        <div class="paddingtopBottomHeader">
          <div class=" NavbarHamberg">
            <img
              w-100
              src="../../../assets/Images/icons8-hamburger-64.png"
              alt=""
            />
            <div class="flex">
              <div class="HeaderLogo marginLeftHamburger">Your Logo</div>

            </div>
          </div>
          <div class="flex flex-row NavbarLinks flex-wrap justifyBetween">
            <div class="HeaderLogo">Your Logo</div>
            <div class="flex NavbarLinks flex-row">
              <p class="HeaderLinks">How It Works</p>
              <p class="HeaderLinks">How It Works</p>
              <p class="HeaderLinks">Franchise list</p>
              <p class="HeaderLinks">Franchising guide</p>
              <button
                href="#"
                class="HeaderButtonText HeaderButton ButtonBackground buttonText"
              >
                Contact
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="hero banner-background">
      <div class="banner-background">
        <div class="main-hero-wrapper">
          <div class="Right-Div flex flex-col margin20px">
            <div>
              <h2 class="bannerHeading">
                Lorem ipsum dolor sit<br />
                amet consectetur
              </h2>
              <h2 class="bannerHeading">Lorem ipsum</h2>
              <p class="bannerText bannertexttopMargin">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod.
              </p>
            </div>
            <div>
              <button class="bannerButton bannerButtonText flex flex-row">
                <span class="bannerButtonText"> See the best franchises</span>
                <span
                  ><img
                    class="MarginImageBanerButton"
                    src="../../../assets/Images/Polygon 6.png"
                    alt=""
                /></span>
              </button>
            </div>
          </div>
          <div class="Left-Div">
            <img src="../../../assets/Images/Image 45.png" alt="" />
          </div>
        </div>
      </div>
    </section>

    <section class="ThirdSection">
      <div class="MainBackground marginbottom">
        <div class="flex-col flex">
          <div class="ThordSectionHeading margin58px">Lorem Ipsum Dolor</div>
          <div class="margin-setting-checklist paddingCheclist">
            <div class="flex flex-row alignItem margin-setting-checklist">
              <img
                class="TickImage"
                src="../../../assets/Images/check.png"
                alt=""
              />
              <p class="ListText">Lorem ipsum dolor sit amet. .</p>
            </div>
            <div class="flex flex-row alignItem margin-setting-checklist">
              <img
                class="TickImage"
                src="../../../assets/Images/check.png"
                alt=""
              />
              <p class="ListText">Aliquam tincidunt mauris eu risus</p>
            </div>
            <div class="flex flex-row alignItem margin-setting-checklist">
              <img
                class="TickImage"
                src="../../../assets/Images/check.png"
                alt=""
              />
              <p class="ListText">
                Morbi in sem quis dui placerat ornare, Pellentesque.
              </p>
            </div>
            <div class="flex flex-row alignItem margin-setting-checklist">
              <img
                class="TickImage"
                src="../../../assets/Images/check.png"
                alt=""
              />
              <p class="ListText">Nunc dignissim risus id metus.</p>
            </div>
            <div class="flex flex-row alignItem margin-setting-checklist">
              <img
                class="TickImage"
                src="../../../assets/Images/check.png"
                alt=""
              />
              <p class="ListText">
                Integer vitae libero ac risus egestas placerat.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="FourthSection MallSectio">
      <div class="mallContainerBackground">
        <div class="container marginTopandBottomMallls">
          <div class="headingMalls">
            Lorem ipsum dolor sit amet adipiscing elit. Donec odio. Quisque
            volutpat mattis
          </div>
          <div class="MallsText">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec
            odio. Quisque volutpat mattis eros. Nullam malesuada erat ut.
            Suspendisse urna nibh, viverra non, semper suscipit
          </div>
          <div class="MallsDiv">
            <div class="">
              <img
                class="amazonmall"
                src="../../../assets/Images/Group 741.png"
                alt=""
                sizes=""
                srcset=""
              />
              <p class="amazonmalltext">Amazon Mall</p>
            </div>
            <div class="">
              <img
                class="centaurusMall"
                src="../../../assets/Images/Group 380.png"
                alt=""
                sizes=""
                srcset=""
              />
              <p class="amazonmalltext">Amazon Mall</p>
            </div>
            <div class="">
              <img
                class="GigaMall"
                src="../../../assets/Images/Group 741.png"
                alt=""
                sizes=""
                srcset=""
              />
              <p class="amazonmalltext">Amazon Mall</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="hero BackgroundSeoDiv">
      <div class="BackgroundSeoDiv">
        <div class="main-hero-wrapper">
          <div class="Right-DivSEO flex flex-col paddingLeft">
            <div>
              <h2 class="headingSEO Lorem">Lorem</h2>
              <h2 class="headingSEO">Ipsum Dolor</h2>
            </div>
            <div>
              <div class="textSEO margin-topSE0">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Integer enim neque volutpat ac tincidunt vitae semper.
                Ullamcorper eget nulla facilisi etiam dignissim diam quis enim.
                Enim eu turpis egestas pretium aenean pharetra magna ac. Enim
                nunc faucibus a pellentesque sit amet porttitor eget dolor.
                <br />
              </div>
              <div class="textSEO">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Sapien eget mi proin sed libero enim. Etiam sit amet nisl purus
                in mollis nunc sed id. Placerat in egestas erat imperdiet. Etiam
                tempor orci eu lobortis elementum nibh tellus molestie nunc.
                Felis eget velit aliquet sagittis id consectetur.
                <br /><br />
                Readmore...
              </div>
            </div>
          </div>
          <div class="Left-Div">
            <img
              src="../../../assets/Images/Screenshot 2023-02-28 at 5.57.36 AM.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>

    <section class="properties">
      <div class="container">
        <div class="mainflexProperties">
          <div class="ThordSectionHeading margin58px">Lorem Ipsum Dolor</div>
          <div class="mainflexProperties2">
            <div class="boxDetailsProperties">
              <img
                class="ImageProperties"
                src="../../../assets/Images/Group 1306.png"
                alt=""
              />
              <p class="headingbox">Lorem Ipsum Dolar</p>
              <p class="parabox">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua
              </p>
            </div>
            <div class="boxDetailsProperties">
              <img
                class="ImageProperties"
                src="../../../assets/Images/Group 594.png"
                alt=""
              />
              <p class="headingbox">Lorem Ipsum Dolar</p>
              <p class="parabox">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua
              </p>
            </div>
            <div class="boxDetailsProperties">
              <img
                class="ImageProperties"
                src="../../../assets/Images/Group 1358.png"
                alt=""
              />
              <p class="headingbox">Lorem Ipsum Dolar</p>
              <p class="parabox">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua
              </p>
            </div>
            <div class="boxDetailsProperties">
              <img
                class="ImageProperties"
                src="../../../assets/Images/Group 674.png"
                alt=""
              />
              <p class="headingbox">Lorem Ipsum Dolar</p>
              <p class="parabox">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua
              </p>
            </div>
            <div class="boxDetailsProperties">
              <img
                class="ImageProperties"
                src="../../../assets/Images/Group 274.png"
                alt=""
              />
              <p class="headingbox">Lorem Ipsum Dolar</p>
              <p class="parabox">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua
              </p>
            </div>
            <div class="boxDetailsProperties">
              <img
                class="ImageProperties"
                src="../../../assets/Images/Group 672.png"
                alt=""
              />
              <p class="headingbox">Lorem Ipsum Dolar</p>
              <p class="parabox">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="sectionFive">
      <div class="backgroundStep">
        <div class="Container2">
          <div class="StepsHeading">Lorem Ipsum Dolor Sit</div>
          <div class="FlexStepSetting">
            <div class="flexColoumnsSerring">
              <div class="Steps1SecondHeading">STEP 1</div>
              <div class="stepsSecondHeading">Lorem Ipsum</div>
              <div class="StepsText">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod.
              </div>
            </div>
            <div class="CircleHeading">
              <img src="../../../assets/Images/Group 1373.svg" alt="" />
            </div>
          </div>
          <div class="nextImage">
            <img src="../../../assets/Images/next.svg" alt="" />
          </div>
          <div class="FlexStepSetting">
            <div class="flexColoumnsSerring">
              <div class="Steps1SecondHeading">STEP 2</div>
              <div class="stepsSecondHeading">Lorem Ipsum</div>
              <div class="StepsText">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod.
              </div>
            </div>
            <div class="CircleHeading">
              <img src="../../../assets/Images/question-mark.svg" alt="" />
            </div>
          </div>
          <div class="nextImage">
            <img src="../../../assets/Images/next.svg" alt="" />
          </div>
          <div class="FlexStepSetting">
            <div class="flexColoumnsSerring">
              <div class="Steps1SecondHeading">STEP 3</div>
              <div class="stepsSecondHeading">Lorem Ipsum</div>
              <div class="StepsText">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod.
              </div>
            </div>
            <div class="CircleHeading">
              <img src="../../../assets/Images/chat (2).svg" alt="" />
            </div>
          </div>
          <div class="nextImage">
            <img src="../../../assets/Images/next.svg" alt="" />
          </div>
          <div class="FlexStepSetting">
            <div class="flexColoumnsSerring">
              <div class="Steps1SecondHeading">STEP 4</div>
              <div class="stepsSecondHeading">Lorem Ipsum</div>
              <div class="StepsText">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod.
              </div>
            </div>
            <div class="CircleHeading">
              <img src="../../../assets/Images/share (1).svg" alt="" />
            </div>
          </div>
          <div class="nextImage">
            <img src="../../../assets/Images/next.svg" alt="" />
          </div>
          <div class="FlexStepSetting">
            <div class="flexColoumnsSerring">
              <div class="Steps1SecondHeading">STEP 5</div>
              <div class="stepsSecondHeading">Lorem Ipsum</div>
              <div class="StepsText">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod.
              </div>
            </div>
            <div class="CircleHeading">
              <img src="../../../assets/Images/placeholder.svg" alt="" />
            </div>
          </div>
          <div class="nextImage">
            <img src="../../../assets/Images/next.svg" alt="" />
          </div>
          <div class="FlexStepSetting">
            <div class="flexColoumnsSerring">
              <div class="Steps1SecondHeading">STEP 6</div>
              <div class="stepsSecondHeading">Lorem Ipsum</div>
              <div class="StepsText">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod.
              </div>
            </div>
            <div class="CircleHeading">
              <img src="../../../assets/Images/share (1).svg" alt="" />
            </div>
          </div>
          <div class="nextImage">
            <img src="../../../assets/Images/next.svg" alt="" />
          </div>

          <div class="stepsBottomBox">
            <div>
              <div class="stepsSecondHeading2">Lorem Ipsum</div>
              <div class="StepsText2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod. Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit, sed do eiusmod.
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="kfcbg">
      <div class="kFCbg">
        <div class="container">
          <div class="mainHeadingKFC">
            Lorem Ipsum Dolor Sit Amet<br />
            <span class="headingGreenKFC">Lorem Ipsum </span>
          </div>
          <div class="textKFC">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec
            odio. <br />Quisque volutpat mattis eros. Nullam malesuada erat ut
            turpis. Suspendisse <br />urna nibh, viverra non, semper suscipit,
            posuere a, pede. <br /><br />
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec
            odio.<br />
            Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.
            Suspendisse<br />
            urna nibh, viverra.
          </div>
          <div class="buttonKFC">Schedule a call today!</div>
        </div>
      </div>
    </section>

    <section class="success">
      <div class="backgroungSeccesStories">
        <div class="SuccessStoriesHeading">Success Stories</div>
        <div class="SuccessStoriesText">Ez-Franchise Client Testimonials</div>
      </div>
    </section>

    <section class="strories">
      <div class="storiesmainDiv">
        <div class="storiesSection1 StrotiesDivSetting">
          <div class="paddingbottom40">
            <img src="../../../assets/Images/quote.png" alt="" />
          </div>
          <div class="storiestext">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec
            odio.
          </div>
          <div class="">
            <img src="../../../assets/Images/Mask Group 21.png\" alt="" />
          </div>
          <div class="storiesheading">Lorem ipsum</div>
          <div class="storiesSubHeading">Lorem ipsum dolor sit</div>
        </div>
        <div class="storiesSection2 StrotiesDivSetting">
          <div class="paddingbottom40">
            <img src="../../../assets/Images/quote.png" alt="" />
          </div>
          <div class="storiestext">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec
            odio.
          </div>
          <div class="">
            <img src="../../../assets/Images/Mask Group 21.png\" alt="" />
          </div>
          <div class="storiesheading">Lorem ipsum</div>
          <div class="storiesSubHeading">Lorem ipsum dolor sit</div>
        </div>
        <div class="storiesSection3 StrotiesDivSetting">
          <div class="paddingbottom40">
            <img src="../../../assets/Images/quote.png" alt="" />
          </div>
          <div class="storiestext">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec
            odio.
          </div>
          <div class="">
            <img src="../../../assets/Images/Mask Group 21.png\" alt="" />
          </div>
          <div class="storiesheading">Lorem ipsum</div>
          <div class="storiesSubHeading">Lorem ipsum dolor sit</div>
        </div>
        <div class="storiesSection1 StrotiesDivSetting">
          <div class="paddingbottom40">
            <img src="../../../assets/Images/quote.png" alt="" />
          </div>
          <div class="storiestext">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec
            odio.
          </div>
          <div class="">
            <img src="../../../assets/Images/Mask Group 21.png\" alt="" />
          </div>
          <div class="storiesheading">Lorem ipsum</div>
          <div class="storiesSubHeading">Lorem ipsum dolor sit</div>
        </div>
        <div class="storiesSection3 StrotiesDivSetting">
          <div class="paddingbottom40">
            <img src="../../../assets/Images/quote.png" alt="" />
          </div>
          <div class="storiestext">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec
            odio.
          </div>
          <div class="">
            <img src="../../../assets/Images/Mask Group 21.png\" alt="" />
          </div>
          <div class="storiesheading">Lorem ipsum</div>
          <div class="storiesSubHeading">Lorem ipsum dolor sit</div>
        </div>
      </div>
    </section>

    <section class="gurantee">
      <div class="contianer GuranteeContainer">
        <div class="GuranteeHeader">Lorem Ipsum Dolor Sit Amet</div>
        <div class="paddingtopbottom29">
          <img src="../../../assets/Images/OBJECTS.png" alt="" />
        </div>
        <div class="centerText">
          <div class="GuranteText">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec
            odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis
            Suspendisse urna nibh.<br /><br />
          </div>
          <br /><br />
          <div class="GuranteText">
            Donec nec justo eget felis facilisis fermentum. Aliquam porttitor
            mauris sit amet orci. Aenean dignissim pellentesque felis. Morbi in
            sem quis dui placerat ornare pellentesque
          </div>
          <div class="buttonKFC">Schedule a call today!</div>
        </div>
      </div>
    </section>

    <section class="last">
      <div class="container paddingtopbottom82">
        <div class="flexSettingLastSection">
          <div>
            <img
              class="max-width"
              src="../../../assets/Images/Mask Group 874.png"
              alt=""
            />
          </div>
          <div>
            <div class="lastsectionHeading">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            </div>
            <div class="lastsectionSubHeading">
              Lorem Ipsum<br />
              Dolor Sit Amet Consectetuer!
            </div>
            <div class="buttonKFC">Schedule a call today!</div>
          </div>
        </div>
      </div>
    </section>

    <section class="footer">
      <div class="FooterBackground">
        <div class="container FooterBackgroundflex">
          <div class="felxColoumn marginasdaf">
            <div class="FooterHeader">Get in touch</div>
            <div class="FooterText margintop20pxx">
              loremipsumpk@gmail.com
              <span><img src="../../../assets/Images/email.png" alt="" /></span>
            </div>
            <div class="FooterText">
              Floor 3, One Expressway, Gulberg Greens, Islamabad
              <span
                ><img src="../../../assets/Images/maps-and-flags.png" alt=""
              /></span>
            </div>
          </div>
          <div class="marginasdaf">
            <div class="FooterHeader">Follow Us</div>
            <div class="FooterText margintop20pxx">
              <span>
                <img
                  class="paddingImage2"
                  src="../../../assets/Images/facebook.png"
                  alt=""
                />
              </span>
              <span>
                <img
                  class="paddingImage2"
                  src="../../../assets/Images/instagram (1).png"
                  alt=""
                />
              </span>
              <span>
                <img
                  class="paddingImage2"
                  src="../../../assets/Images/twitter.png"
                  alt=""
                />
              </span>
              <span>
                <img
                  class="paddingImage2"
                  src="../../../assets/Images/youtube.png"
                  alt=""
                />
              </span>
            </div>
          </div>
        </div>
        <div class="container FooterBackgroundflex paddingtop43px">
          <div class="paddingImage2 FooterText">Contact</div>
          <div class="paddingImage2 FooterText">Disclaimer</div>

          <div class="paddingImage2 FooterText">Privacy policy</div>

          <div class="paddingImage2 FooterText">@2020 Lorem Ipsum, Pvt. Ltd. All rights reserved</div>

        </div>
      </div>
    </section>
  </div>
</div>
