<div class="">
  <div class="main-wrapper">
    <section class="navbar NavbarWrapper HeaderBorderBottom">
      <div class="container">
        <div class="paddingtopBottomHeader">
          <div class="flex NavbarHamberg">
            <img
              w-100
              src="../../../assets/Images/icons8-hamburger-64.png"
              alt=""
            />
            <div class="HeaderLogo marginLeftHamburger">Your Logo</div>
          </div>
          <div class="flex flex-row NavbarLinks flex-wrap justifyBetween">
            <div class="HeaderLogo">Your Logo</div>
            <div class="flex NavbarLinks flex-row">
              <p class="HeaderLinks">How It Works</p>
              <p class="HeaderLinks">How It Works</p>
              <p class="HeaderLinks">Franchise list</p>
              <p class="HeaderLinks">Franchising guide</p>
              <button
                href="#"
                class="HeaderButtonText HeaderButton ButtonBackground buttonText"
              >
                Contact
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="hero banner-background">
      <div class="banner-background">
        <div class="main-hero-wrapper">
          <div class="Right-Div flex flex-col margin20px">
            <div>
              <h2 class="bannerHeading">
                Lorem ipsum dolor sit<br />
                amet consectetur
              </h2>
              <h2 class="bannerHeading">Lorem ipsum</h2>
              <p class="bannerText bannertexttopMargin">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod.
              </p>
            </div>
            <div>
              <button class="bannerButton bannerButtonText flex flex-row">
                <span class="bannerButtonText"> See the best franchises</span>
                <span
                  ><img
                    class="MarginImageBanerButton"
                    src="../../../assets/Images/Polygon 6.png"
                    alt=""
                /></span>
              </button>
            </div>
          </div>
          <div class="Left-Div">
            <img src="../../../assets/Images/Image 45.png" alt="" />
          </div>
        </div>
      </div>
    </section>

    <section class="ThirdSection">
      <div class="MainBackground marginbottom">
        <div class="flex-col flex">
          <div class="ThordSectionHeading margin58px">Lorem Ipsum Dolor</div>
          <div class="margin-setting-checklist paddingCheclist">
            <div class="flex flex-row alignItem margin-setting-checklist">
              <img
                class="TickImage"
                src="../../../assets/Images/check.png"
                alt=""
              />
              <p class="ListText">Lorem ipsum dolor sit amet. .</p>
            </div>
            <div class="flex flex-row alignItem margin-setting-checklist">
              <img
                class="TickImage"
                src="../../../assets/Images/check.png"
                alt=""
              />
              <p class="ListText">Aliquam tincidunt mauris eu risus</p>
            </div>
            <div class="flex flex-row alignItem margin-setting-checklist">
              <img
                class="TickImage"
                src="../../../assets/Images/check.png"
                alt=""
              />
              <p class="ListText">
                Morbi in sem quis dui placerat ornare, Pellentesque.
              </p>
            </div>
            <div class="flex flex-row alignItem margin-setting-checklist">
              <img
                class="TickImage"
                src="../../../assets/Images/check.png"
                alt=""
              />
              <p class="ListText">Nunc dignissim risus id metus.</p>
            </div>
            <div class="flex flex-row alignItem margin-setting-checklist">
              <img
                class="TickImage"
                src="../../../assets/Images/check.png"
                alt=""
              />
              <p class="ListText">
                Integer vitae libero ac risus egestas placerat.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="FourthSection MallSectio">
      <div class="mallContainerBackground">
        <div class="container marginTopandBottomMallls">
          <div class="headingMalls">
            Lorem ipsum dolor sit amet adipiscing elit. Donec odio. Quisque
            volutpat mattis
          </div>
          <div class="MallsText">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec
            odio. Quisque volutpat mattis eros. Nullam malesuada erat ut.
            Suspendisse urna nibh, viverra non, semper suscipit
          </div>
          <div class="MallsDiv">
            <div class="">
              <img
                class="amazonmall"
                src="../../../assets/Images/Group 741.png"
                alt=""
                sizes=""
                srcset=""
              />
              <p class="amazonmalltext">Amazon Mall</p>
            </div>
            <div class="">
              <img
                class="centaurusMall"
                src="../../../assets/Images/Group 380.png"
                alt=""
                sizes=""
                srcset=""
              />
              <p class="amazonmalltext">Amazon Mall</p>
            </div>
            <div class="">
              <img
                class="GigaMall"
                src="../../../assets/Images/Group 741.png"
                alt=""
                sizes=""
                srcset=""
              />
              <p class="amazonmalltext">Amazon Mall</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="hero BackgroundSeoDiv">
      <div class="BackgroundSeoDiv">
        <div class="main-hero-wrapper">
          <div class="Right-DivSEO flex flex-col paddingLeft">
            <div>
              <h2 class="headingSEO Lorem">Lorem</h2>
              <h2 class="headingSEO">Ipsum Dolor</h2>
            </div>
            <div>
              <div class="textSEO margin-topSE0">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Integer enim neque volutpat ac tincidunt vitae semper.
                Ullamcorper eget nulla facilisi etiam dignissim diam quis enim.
                Enim eu turpis egestas pretium aenean pharetra magna ac. Enim
                nunc faucibus a pellentesque sit amet porttitor eget dolor.
                <br />
              </div>
              <div class="textSEO">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Sapien eget mi proin sed libero enim. Etiam sit amet nisl purus
                in mollis nunc sed id. Placerat in egestas erat imperdiet. Etiam
                tempor orci eu lobortis elementum nibh tellus molestie nunc.
                Felis eget velit aliquet sagittis id consectetur.
                <br /><br />
                Readmore...
              </div>
            </div>
          </div>
          <div class="Left-Div">
            <img
              src="../../../assets/Images/Screenshot 2023-02-28 at 5.57.36 AM.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>

    <section class="properties">
      <div class="container">
        <div class="mainflexProperties">
          <div class="ThordSectionHeading margin58px">Lorem Ipsum Dolor</div>
          <div class="mainflexProperties2">
            <div class="boxDetailsProperties">
                <img
                  class="ImageProperties"
                  src="../../../assets/Images/Group 1306.png"
                  alt=""
                />
                <p class="headingbox">Lorem Ipsum Dolar</p>
                <p class="parabox">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua
                </p>
              </div>
              <div class="boxDetailsProperties">
                <img
                  class="ImageProperties"
                  src="../../../assets/Images/Group 594.png"
                  alt=""
                />
                <p class="headingbox">Lorem Ipsum Dolar</p>
                <p class="parabox">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua
                </p>
              </div>
              <div class="boxDetailsProperties">
                <img
                  class="ImageProperties"
                  src="../../../assets/Images/Group 1358.png"
                  alt=""
                />
                <p class="headingbox">Lorem Ipsum Dolar</p>
                <p class="parabox">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua
                </p>
              </div>
              <div class="boxDetailsProperties">
                <img
                  class="ImageProperties"
                  src="../../../assets/Images/Group 674.png"
                  alt=""
                />
                <p class="headingbox">Lorem Ipsum Dolar</p>
                <p class="parabox">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua
                </p>
              </div>
              <div class="boxDetailsProperties">
                <img
                  class="ImageProperties"
                  src="../../../assets/Images/Group 274.png"
                  alt=""
                />
                <p class="headingbox">Lorem Ipsum Dolar</p>
                <p class="parabox">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua
                </p>
              </div>
              <div class="boxDetailsProperties">
                <img
                  class="ImageProperties"
                  src="../../../assets/Images/Group 672.png"
                  alt=""
                />
                <p class="headingbox">Lorem Ipsum Dolar</p>
                <p class="parabox">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua
                </p>
              </div>
          </div>


        </div>
      </div>
    </section>
  </div>
</div>
