.NavbarWrapper {
    background: #08083D 0% 0% no-repeat padding-box;
    opacity: 1;
}

.paddingtopBottomHeader {
    padding: 27px 0px;
}

.marginLeftHamburger {
    margin-left: 152px;
}

.banner-background {
    background: #08083D 0% 0% no-repeat padding-box;
    opacity: 1;
    // min-height: 40vh;
    padding: 10px 0px;
}

.bannertexttopMargin {
    margin-top: 37px;
}

.bannerbuttontopMargin {
    margin-top: 72px;
}

.MarginImageBanerButton {
    margin: 10px 0px 0px 10px;

}

.margin20px {
    margin-top: 40px;
}

.Right-Div {
    padding-left: 9%;

}

.Left-Div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// ThirdSection ThirdSection ThirdSection ThirdSection ThirdSection ThirdSection ThirdSection ThirdSection
.ThirdSection {}

.margin58px {
    margin-top: 58px;
    margin-bottom: 58px;
}

.marginbottom {
    margin-bottom: 58px;
}

.MainBackground {
    background-color: #E9EFFF;
}

.ThordSectionHeading {
    text-align: center;
    font: normal normal 800 50px/40px Gilroy;
    letter-spacing: 0px;
    color: #08083D;
    opacity: 1;
}

.TickImage {
    width: 25px;
    height: 20px;
    /* UI Properties */
    // background: transparent url('img/check.png') 0% 0% no-repeat padding-box;
    // opacity: 1;
}

.ListText {
    margin-left: 19px;
    // text-align: left;
    font: normal normal bold 21px/1px Roboto;
    letter-spacing: 0px;
    color: #08083D;
    opacity: 1;
}

.margin-setting-checklist {
    margin: 0px auto;
}

@media only screen and (max-width: 600px) {
    .ListText {
        margin-left: 19px;
        // text-align: left;
        font: normal normal bold 16px/1px Roboto;
        letter-spacing: 0px;
        color: #08083D;
        opacity: 1;
    }

    .paddingCheclist {
        padding: 0px 10px;
    }

    .margin-setting-checklist {
        margin: 0px 0px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}



// Malls Div Malls Div Malls Div Malls Div Malls Div Malls Div Malls Div Malls Div Malls Div Malls Div Malls Div Malls Div Malls Div  Malls Div

.mallContainerBackground {
    background-color: #08083D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.marginTopandBottomMallls {
    margin: 65px 0px;
}


.MallsDiv {
    margin-top: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.amazonmall {
    width: 312px;
    height: 312px;
}

.centaurusMall {
    width: 398px;
    height: 398px;
    margin: 0px 68px;
}

.GigaMall {
    width: 312px;
    height: 312px;
}

.amazonmalltext {
    text-align: center;
    font: normal normal 20px/34px RobotoLight;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

@media only screen and (max-width: 600px) {
    .MallsDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .headingMalls {
        text-align: center;
        font: normal normal 800 35px/65px Gilroy;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        margin-bottom: 65px;
    }

    .MallsText {
        margin-top: 33px;
        text-align: center;
        font: normal normal normal 16px/34px RobotoLight;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .MallsDiv {
        margin-top: 58px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .MallsDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .marginTopandBottomMallls {
        margin: 65px 20px;
    }

    .centaurusMall {
        width: 398px;
        height: 398px;
        margin: 20px 68px;
    }

    .headingMalls {
        text-align: center;
        font: normal normal 800 25px/65px Gilroy;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        margin-bottom: 65px;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .MallsDiv {
        margin-top: 58px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    .marginTopandBottomMallls {
        margin: 65px 0px;
    }

    .centaurusMall {
        width: 398px;
        height: 398px;
        margin: 0px 68px;
    }

    .headingMalls {
        text-align: center;
        font: normal normal 800 50px/65px Gilroy;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        margin-bottom: 65px;
    }

    .MallsText {
        margin-top: 33px;
        text-align: center;
        font: normal normal normal 24px/34px RobotoLight;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }




}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .headingMalls {
        text-align: center;
        font: normal normal 800 50px/65px Gilroy;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        margin-bottom: 65px;
    }

    .MallsText {
        margin-top: 33px;
        text-align: center;
        font: normal normal normal 24px/34px RobotoLight;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }

}


// LEAD SE0 LEAD SE0 LEAD SE0 LEAD SE0 LEAD SE0 LEAD SE0 LEAD SE0 LEAD SE0 LEAD SE0 LEAD SE0 LEAD SE0 LEAD SE0 LEAD SE0 LEAD SE0
.BackgroundSeoDiv {
    background-color: #6f90dd;
    padding: 54px 0px;
}

.paddingLeft {
    padding-left: 16%;
}

.Right-DivSEO {
    width: 50%;
}

.margin-topSE0 {
    margin-top: 58px;
}

.textSEO {
    text-align: justify;
    font: normal normal normal 19px/32px RobotoLight;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding-right: 50px;
}

.headingSEO {
    text-align: left;
    font: normal normal 800 50px/10px Gilroy;
    letter-spacing: 0px;
    opacity: 1;
}

.Lorem {
    color: #23CE6B;

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .Right-DivSEO {
        width: 75%;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .Right-DivSEO {
        width: 75%;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .Right-DivSEO {
        width: 100%;
    }

    .paddingLeft {
        // padding: 5% 0%;
        padding: 0% 3%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .Right-DivSEO {
        width: 50%;
    }

    .paddingLeft {
        padding-left: 16%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}


// Properties Properties Properties Properties Properties Properties Properties Properties Properties Properties Properties Properties Properties

.properties {
    background-color: #FFFFFF;
    margin: 70px 0px;
}

.mainflexProperties {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.mainflexProperties2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.boxDetailsProperties {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 373px;
    padding: 32px;
}

.headingbox {
    text-align: center;
    font: normal normal bold 27px/20px Roboto;
    letter-spacing: 0px;
    color: #08083D;
    opacity: 1;
    margin-bottom: 20px;
}

.parabox {
    text-align: center;
    font: normal normal normal 21px/29px RobotoLight;
    letter-spacing: 0px;
    color: #08083D;
    opacity: 1;
}

.ImageProperties {
    width: 220px;
    height: 220px;
    // margin-bottom: 28px;
}



// Steps Steps Steps Steps Steps Steps Steps Steps Steps Steps Steps Steps Steps Steps Steps Steps Steps Steps Steps Steps Steps Steps Steps Steps Steps Steps Steps Steps
.backgroundStep {
    background-color: #6184D8;
}

.StepsHeading {
    padding-top: 70px;
    padding-bottom: 44px;
    text-align: center;
    font: normal normal 800 50px/49px Gilroy;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.stepsSecondHeading {
    text-align: left;
    font: normal normal 800 45px/29px Gilroy;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-top: 4px;
}

.Steps1SecondHeading {
    text-align: left;
    font: normal normal 800 27px/49px Gilroy;
    letter-spacing: 0px;
    color: #23CE6B;
    text-transform: uppercase;
    opacity: 1;

}


.StepsText {
    text-align: left;
    font: normal normal medium 21px/29px RobotoLight;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-top: 20px;
}

.margintop44px {
    margin-top: 44px;
}

.CircleHeading {
    width: 115px;
    height: 115px;

    /* UI Properties */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent linear-gradient(328deg, #4D80FB 0%, #23CE6B 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}

.FlexStepSetting {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.flexColoumnsSerring {
    display: flex;
    flex-direction: column;
}

.nextImage {
    padding: 56px 0px 20px 0px;
}

.stepsBottomBox {

    box-shadow: 6px 6px 2px #6184D8;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    opacity: 1;
    padding: 52px 57px;
    width: fit-content;
    margin: auto;
    display: flex;
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.StepsText2 {
    text-align: center;
    font: normal normal medium 21px/29px RobotoLight;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-top: 20px;
}

.stepsSecondHeading2 {
    text-align: center;
    font: normal normal 800 45px/29px Gilroy;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-top: 4px;
}


// KFCBG KFCBG KFCBG KFCBG KFCBG KFCBG KFCBG KFCBG KFCBG KFCBG KFCBG KFCBG KFCBG KFCBG KFCBG KFCBG KFCBG KFCBG KFCBG KFCBG KFCBG KFCBG KFCBG KFCBG KFCBG KFCBG KFCBG KFCBG
.kFCbg {
    background-image: url('../../../assets/Images/Group\ 2110.png');
    padding: 35px 0px;
}

.mainHeadingKFC {
    text-align: left;
    font: normal normal 800 50px/65px Gilroy;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.headingGreenKFC {
    text-align: left;
    font: normal normal 800 50px/65px Gilroy;
    letter-spacing: 0px;
    opacity: 1;
    color: #23CE6B;
    text-transform: uppercase;
}

.textKFC {
    margin-top: 30px;
    text-align: left;
    font: normal normal normal 21px/29px RobotoLight;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.buttonKFC {
    width: 320px;
    height: 80px;

    /* UI Properties */

    background: #23CE6B 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 8px #23CE6B80;
    border-radius: 100px;
    opacity: 1;
    // padding: 23px 42px;
    text-align: center;
    font: normal normal bold 24px/30px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-top: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}


// Success Stories Success Stories Success Stories Success Stories Success Stories Success Stories Success Stories Success Stories Success Stories

.backgroungSeccesStories {
    background-image: url('../../../assets/Images/Image\ 89.png');
    padding: 45px 0px;
}

.SuccessStoriesHeading {
    text-align: center;
    font: normal normal 800 50px/49px Gilroy;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.SuccessStoriesText {
    text-align: center;
    font: normal normal medium 24px/49px RobotoLight;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}


.storiesmainDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.StrotiesDivSetting {
    padding: 58px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 316px;
    // height: 608px;
}

.storiesSection1 {
    background: #23CE6B 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 8px #00000026;
    opacity: 1
}
.storiesSection2 {
    background: #08083D 0% 0% no-repeat padding-box;    box-shadow: 0px 6px 8px #00000026;
    opacity: 1
}

.storiesSection3 {
    background: #6184D8 0% 0% no-repeat padding-box;
       box-shadow: 0px 6px 8px #00000026;
    opacity: 1
}

.storiestext {
    padding: 5px 0px;
    text-align: center;
    font: normal normal medium 16px/24px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;

}

.storiesheading {
    text-align: center;
    font: normal normal bold 27px/49px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.storiesSubHeading {
    text-align: center;
    font: normal normal normal 21px/49px RobotoLight;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.paddingbottom40{
    padding-bottom: 40px;
}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    .StrotiesDivSetting {
        padding: 58px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: fit-content;
        // height: 608px;
    }

 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
    .StrotiesDivSetting {
        padding: 58px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: fit-content;
        // height: 608px;
    }

 }

 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    .StrotiesDivSetting {
        padding: 58px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 316px;
        // height: 608px;
    }

 }

 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
    .StrotiesDivSetting {
        padding: 58px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 316px;
        // height: 608px;
    }

 }

 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {}


// Gurantee section  Gurantee section  Gurantee section  Gurantee section  Gurantee section  Gurantee section Gurantee section  Gurantee section  Gurantee section

.GuranteeContainer{
    background: transparent linear-gradient(114deg, #6184D8 0%, #08083D 100%) 0% 0% no-repeat padding-box;
opacity: 1;
padding: 70px 0px;
}

.GuranteeHeader{
    text-align: center;
font: normal normal 800 50px/49px Gilroy;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.Guranteesubheading{
    text-align: center;
font: normal normal bold 21px/30px RobotoLight;
letter-spacing: 0px;
color: #FFFFFF;
}
.GuranteText{
    text-align: center;
font: normal normal normal 21px/30px RobotoLight;
letter-spacing: 0px;
color: #FFFFFF;
max-width: 932px;
// height: 208px;


}

.paddingtopbottom29{
    padding: 29px 0px;
    display: flex ;
    justify-content: center;
    align-items: center;
}

.centerText{
    display: flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


// Section Section Section Section 2nd LAst  Section Section Section Section 2nd LAst  Section Section Section Section 2nd LAst

.ImageSectionLasr{
    max-width: 572px;
}
.lastsectionHeading{
    text-align: left;
font: normal normal medium 24px/49px Roboto;
letter-spacing: 0px;
color: #08083D;
opacity: 1;
}
.lastsectionSubHeading{
    text-align: left;
    font: normal normal 800 50px/65px Gilroy;
    letter-spacing: 0px;
    color: #08083D;
    opacity: 1;
    padding-bottom: 50px;
}

.paddingtopbottom82{
    padding: 82px 0px;
}

.flexSettingLastSection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.max-width{
    max-width: 100%;
}
// Footer Section Footer Section Footer Section Footer Section 2nd LAst  Section Section Section Section 2nd LAst  Section Section Section Section 2nd LAst

.FooterBackground{
    background-image: url('../../../assets/Images/Group\ 2176.png');

    padding: 40px 0px;
}
.FooterBackgroundflex{
    display: flex;
    flex-direction: row;
    justify-content: end;
    flex-wrap: wrap;
}

.FooterHeader{
    text-align: right;
font: normal normal 800 16px/19px Gilroy;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

.FooterText{
    text-align: right;
font: normal normal 300 16px/19px GilroyLight;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.paddingImage2{
    padding: 0px 10px;
}


.margintop20pxx{
    margin-top: 20px;
}
.paddingtop43px{
    margin-top: 43px;
}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    .marginasdaf{
        margin: 5px 50px;    }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
    .marginasdaf{
        margin: 5px 50px;    }
 }

 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    .marginasdaf{
        margin: 5px 0px;    }
 }

 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {}

 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {}